/* FONTS */
body {
  font-family: 'DM Sans', 'DM Serif Display', sans-serif;
  background-image: url('../static/Login_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Card container */
.main {
  width: 90%;
  max-width: 350px;
  height: 560px;
  background: rgba(83, 52, 3, 0.495);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #0d0707; 
  transition: all 0.5s ease-in-out;
}

#chk {
display:none; 
}

.log-in {
position:relative;
width: 100%;
height: 100%;
padding-top: 10px;
}
 
label {
  color: #ffffff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

input {
width: 60%;
height: 20px;
background-color: rgb(242, 225, 228);
justify-content: center;
display: flex; 
margin: 1px auto; 
padding: 5px; 
border: none; 
outline: none; 
border-radius: 10px; 
}

button {
width: 60%; 
height: 40px; 
margin: 10px auto; 
justify-content: center;
display: block;
color: white;
background: #0b0a0688;
font-size: 1em; 
margin-top: 12px; 
outline: none; 
border: none; 
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #555;
transform: scale(1.05);
}

.log-in {
  height: 580px; 
  background: #eee;
  border-radius: 60% / 20%;
  transform: translateY(-60px);
  transition: .8s ease-in-out; 
}

.register label {
  position: relative;
  top: 0; 
  transition: all 0.5s ease-in-out;
}

.log-in label {
  color: rgb(85, 55, 60); 
  transform: scale(1);
}

#chk:checked ~.log-in {
  transform: translateY(-420px);
}

#chk:checked ~.log-in label {
  transform: scale(1.2);
}

#chk:checked ~ .register label {
  top: -90px; 
  transform: scale(1);
}

