@font-face {
    font-family: 'Bayer TypeArchiType Regular';
    src: url('../../assets/Bayer\ TypeArchiType\ Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  
.navbar {
  background-color: #3a0a1a;
  text-align: center;
  padding: 1 rem 0.5 rem;
  padding-bottom: 2rem;
  color: #fbeee0;
}

.storeName {
  font-family: 'Bayer TypeArchiType Regular';
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 0;
}

.logoImg {
  width: 400px;
  padding:0;
  height: auto;
  border-radius: 20%;
}

.navRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 0;
}

.navLinks {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li a {
  color: #fbeee0;
  font-family: 'Bayer Architype';
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: #e6b3b3;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchBar {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
}

.searchSubmit {
  background: transparent;
  border: none;
  cursor: pointer;
}
